*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/layout";

body{
    font-family: "Sora", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 50% 0;
    background-attachment: fixed
}

button{
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}