* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 500px;
  border-radius: 20px;
  gap: 50px;
  margin: 20px;
}
.box-container h1 {
  color: white;
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.inputBox {
  position: relative;
  width: 250px;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}
.inputBox i {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  left: 220px;
  color: #fff;
  margin-top: 10px;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: black;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: white;
  letter-spacing: 0.2em;
  border-radius: 2px;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
  background: white;
  color: black;
  border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid white;
}

.inputBox:nth-child(1) {
  margin-bottom: 15px;
}

.inputBox:nth-child(2) {
  margin-bottom: 15px;
}

.remember {
  display: flex;
  margin-top: 15px;
  gap: 4px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container a {
  position: relative;
  margin-top: 40px;
  text-decoration: none;
}
.button-container a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background: black;
  border-radius: 50px;
  transition: width 0.3s ease;
}
.button-container a:hover:before {
  width: 100%;
}

.login-button {
  width: 100%;
  background: #fff;
  border: 2px solid white;
  font-family: "Sora", sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  color: black;
  border-radius: 5px;
  margin-top: 15px;
}

.login-button:hover {
  color: #000;
}

.login-button::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.login-button::before {
  transform: scaleY(0);
}

.login-button:hover::before {
  transform: scaleX(1);
}

.modal-container {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
}

.modal {
  background: #fff;
  width: 550px;
  height: 500px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4392156863);
}

body {
  font-family: "Sora", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=style.css.map */